$pureWhite : rgb(255, 255, 255)
$white : rgb(250, 250, 250)
$smoothWhite : rgb(242, 242, 242)
$smokeWhite : rgb(219, 217, 217)
$grey : rgb(188, 188, 188)
$smoothGrey : rgb(170, 170, 170)
$pureBlack : rgb(0, 0, 0)
$smokeBlack : rgb(87, 88, 98)
$elegantBlack : rgb(42, 43, 54)
$pureBlue : rgb(0, 0, 255)
$pureRed : rgb(255, 0, 0)
$purePink : rgb(255, 89, 89)
$pureGreen : rgb(0, 255, 0)
$smoothYellow : rgb(227, 172, 9)
$rgbaPureWhite-01 : rgba(255, 255, 255, 0.1)
$rgbaPureWhite-02 : rgba(255, 255, 255, 0.2)
$rgbaPureWhite-03 : rgba(255, 255, 255, 0.3)
$rgbaPureWhite-04 : rgba(255, 255, 255, 0.4)
$rgbaPureWhite-05 : rgba(255, 255, 255, 0.5)
$rgbaPureWhite-06 : rgba(255, 255, 255, 0.6)
$rgbaPureWhite-07 : rgba(255, 255, 255, 0.7)
$rgbaPureWhite-08 : rgba(255, 255, 255, 0.8)
$rgbaPureWhite-09 : rgba(255, 255, 255, 0.9)
$rgbaWhite-01 : rgba(250, 250, 250, 0.1)
$rgbaWhite-02 : rgba(250, 250, 250, 0.2)
$rgbaWhite-03 : rgba(250, 250, 250, 0.3)
$rgbaWhite-04 : rgba(250, 250, 250, 0.4)
$rgbaWhite-05 : rgba(250, 250, 250, 0.5)
$rgbaWhite-06 : rgba(250, 250, 250, 0.6)
$rgbaWhite-07 : rgba(250, 250, 250, 0.7)
$rgbaWhite-08 : rgba(250, 250, 250, 0.8)
$rgbaWhite-09 : rgba(250, 250, 250, 0.9)
$rgbaSmoothWhite-01 : rgba(242, 242, 242, 0.1)
$rgbaSmoothWhite-02 : rgba(242, 242, 242, 0.2)
$rgbaSmoothWhite-03 : rgba(242, 242, 242, 0.3)
$rgbaSmoothWhite-04 : rgba(242, 242, 242, 0.4)
$rgbaSmoothWhite-05 : rgba(242, 242, 242, 0.5)
$rgbaSmoothWhite-06 : rgba(242, 242, 242, 0.6)
$rgbaSmoothWhite-07 : rgba(242, 242, 242, 0.7)
$rgbaSmoothWhite-08 : rgba(242, 242, 242, 0.8)
$rgbaSmoothWhite-09 : rgba(242, 242, 242, 0.9)
$rgbaSmokeWhite-01 : rgba(219, 217, 217, 0.1)
$rgbaSmokeWhite-02 : rgba(219, 217, 217, 0.2)
$rgbaSmokeWhite-03 : rgba(219, 217, 217, 0.3)
$rgbaSmokeWhite-04 : rgba(219, 217, 217, 0.4)
$rgbaSmokeWhite-05 : rgba(219, 217, 217, 0.5)
$rgbaSmokeWhite-06 : rgba(219, 217, 217, 0.6)
$rgbaSmokeWhite-07 : rgba(219, 217, 217, 0.7)
$rgbaSmokeWhite-08 : rgba(219, 217, 217, 0.8)
$rgbaSmokeWhite-09 : rgba(219, 217, 217, 0.9)
$rgbaPureBlack-01 : rgba(0, 0, 0, 0.1)
$rgbaPureBlack-02 : rgba(0, 0, 0, 0.2)
$rgbaPureBlack-03 : rgba(0, 0, 0, 0.3)
$rgbaPureBlack-04 : rgba(0, 0, 0, 0.4)
$rgbaPureBlack-05 : rgba(0, 0, 0, 0.5)
$rgbaPureBlack-06 : rgba(0, 0, 0, 0.6)
$rgbaPureBlack-07 : rgba(0, 0, 0, 0.7)
$rgbaPureBlack-08 : rgba(0, 0, 0, 0.8)
$rgbaPureBlack-09 : rgba(0, 0, 0, 0.9)
