.L-hover-1
    opacity: $smokeOpacity
.L-hover-1-r
    opacity: $noOpacity
.L-hover-1:hover
    opacity: $noOpacity
.L-hover-1-r:hover
    opacity: $smokeOpacity
.L-hover-2
    opacity: $smoothOpacity
.L-hover-2-r
    opacity: $noOpacity
.L-hover-2:hover
    opacity: $noOpacity
.L-hover-2-r:hover
    opacity: $smoothOpacity
