/* Input Style 1 */
input.L-input-1-s
    padding: 6px
input.L-input-1-m
    padding: 8px
input.L-input-1-l
    padding: 10px
input.L-input-1-s,
input.L-input-1-m,
input.L-input-1-l
    border-radius: 5px
    border: $solidSmoothBorder-1px
    margin: 10px 0
    display: block
    width: 100%
    background: $white
    transition: $defaultTransition
input.L-input-1-s:hover,
input.L-input-1-m:hover,
input.L-input-1-l:hover
    box-shadow: $smoothBoxShadow
    background: $pureWhite

/* Input Style 2 */
input.L-input-2-s
    padding: 6px
input.L-input-2-m
    padding: 8px
input.L-input-2-l
    padding: 10px
input.L-input-2-s,
input.L-input-2-m,
input.L-input-2-l
    border-radius: 5px
    border: none
    width: 100%
    background: transparent
    transition: $defaultTransition
