/* Link Style 1 */
a.L-link-1
    text-decoration: none
    opacity: $mediumOpacity
    transition: $defaultTransition
a.L-link-1-r
    text-decoration: none
    opacity: $noOpacity
    transition: $defaultTransition
a.L-link-1:hover
    opacity: $noOpacity
a.L-link-1-r:hover
    opacity: $mediumOpacity
